@import "../../scss/variable";
@import "../../scss/fonts";

.Card__section{

    margin-top:56px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 32px;

  }

  