@import "../../../scss/variable";
@import "../../../scss/fonts";


.SideBTN{
  background-color: transparent;
  border: none;
  outline: none;
align-items: center;
padding: 6px 20px;
  // & li:not(:last-child) { 
  //   margin-right:24px; 
  // }
  &__icon *{

fill: #5F6265;
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;

  }
  // &__icon:hover *{
  //   fill: #fff;
  //     }
}

.SideBTN:hover{
  padding: 6px 20px;
  background: linear-gradient(114.33deg, #1F1F1F 5.57%, #2E2E2E 40.98%, #282828 68.78%, #121212 100%);
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 26px -4px rgba(24, 39, 75, 0.14);
  border-radius: 7px;
}