@import "../../scss/variable";
@import "../../scss/fonts";

.sideBar{
max-width:100px;
padding-left:25px;

  &__Logo{
    padding-left: 25px;
    padding-right: 25px;
  }

  &__main-toggle{
margin-top: 50px;
padding-left: 25px;
padding-right: 25px;
  }
  &__setting-toggle{
    margin-top: 400px;
   
    padding-left: 25px;
    padding-right: 25px;
  }
}
  
 